<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="/save" method="post">
        <label for="last_name">Lastname</label>
        <input type="text" name="last_name"  required>
        <br><br>
        <label for="first_name">Firstname</label>
        <input type="text" name="first_name"  required>
        <br><br>
        <label for="email">Email</label>
        <input type="text" name="email"  required>
        <br><br>
        
        <input type="submit" name="submit">
    </form><br>
    <a href="/display">CLICK TO SEE RECORDS</a>
    
   
</body>
</html>